# Virtual environment
.venv/

# Cache files
__pycache__/
*.pyc

# Data and models
data/
data_temp_reprod/
data_backup_20260208/
data_backup_20260301/
models/
reports/

# Jupyter checkpoints
.ipynb_checkpoints/

# Environment files
.env

#png files
*.png

#zip files
*.zip

#temporary files
*.log
*.out

#.vscode settings
.vscode/

#aggregate
aggregate/